 {% extends 'gameblog/base.html' %}

 {% block content %} 
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <p><span class="glyphicon glyphicon-heart"></span>{{ post.likes }}</p>
            </div>
            {% endfor %}
{% endblock content %}
          