 {% extends 'gameblog/base.html' %}

 {% block content %} 
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <button id="likes" data-id="{{post.id}}"
                        class="blike btn btn-min btn-danger glyphicon glyphicon-heart"
                        type="button"> 
                            {% if post.likes > 0 %} 
                                {{post.likes}}
                            {% endif %}
                    </button>
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
            </div>
            {% endfor %}
{% endblock content %}
          