   {% extends 'gameblog/base.html' %}


    {% block content %}
        <div class="post">
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
            {% endif %}
            <!--
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            -->
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>

        <article id="reply-modal" class="modal fade" role="dialog">
            <form id="reply-form" class="reply-form" post-id="{{ post.id }}">
                <h1 class="reply-form__title">Reply</h1>
                <div class="reply-form__form-control">
                    <label for="author">Author:</label>
                    <input type="text" name="author" />
                </div>
                <div class="reply-form__form-control">
                    <label for="text">Text:</label>
                    <textarea  type="text" name="text"></textarea>
                </div>
                <div class="reply-form__form-control">
                    <button class="save btn btn-default reply-form__button"
                            data-toggle="modal" 
                            data-target="#reply-modal"
                            type="button">
                        Reply
                    </button>
                </div>
                
            </form>
        </article>

    <hr>
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        {% for comment in post.comments.all %}
            <div id="comments">
                <div class="comment">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                </div>

                <a  data-toggle="modal" 
                    data-target="#reply-modal"
                    comment-id="{{ comment.id }}">
                    Reply
                </a>
                    {% empty %}
                        <p>No comments here yet :(</p>
            </div>          
        {% endfor %}
    {% endblock %}
    